/*
 * Unresolved properties are Obsidian colour variables to work with themes.
 */

/* Page break with a dashed line. */
.page-break {
	display: block;
	margin-top: 2rem;
	margin-bottom: 2rem;
	border-top: 1px dashed var(--background-modifier-border);
	text-align: center;
	color: var(--text-faint);
}

/* Label on the dashed page break line. */
.page-break .page-break-label {
	/* Positions the label on the dashed line. */
	display: inline-block;
	position: relative;
	top: -0.9rem; /* Matches the font size for vertical positioning. */

	font-size: 0.9em;
	background-color: var(--background-primary);
	padding-left: 0.25rem;
	padding-right: 0.25rem;
}


/* Styles that are only applied when printing. */
@media print {

	/* Force page breaks. */
	.page-break {
		break-before: page;
		border: 0;
		margin: 0;
		padding: 0;
		height: 0;
	}

	/* Hide the label. */
	.page-break .page-break-label {
		display: none;
	}
}
